<section class="container profile">
	<img class="logo" src="/image/logo_with_text.png" />
	<br /><span class="text">Welcome Back !</span>
	<a class="crt-post" href="/user/create_post"
		><img class="footer_logo" alt="post" src="/image/post.png" />Create a
		post</a
	><br />
	<div>
		<label class="text" for="latest_post">Posts</label>
		<div id="latest_post">
			<a href="" class="single-anchor">
				<div class="single_post">
					<img
						src="https://i.guim.co.uk/img/media/dd3882c4ad0fd11a14cffc7e5edaabe5ce8a8b53/0_85_1077_646/master/1077.jpg?width=700&quality=85&auto=format&fit=max&s=c906598d7b435814a7e49a5ee4779c2f"
						alt="Card image cap"
						class="post-img"
					/>
					<div class="post-body">
						<h6>nicolas cage</h6>
						<p class="price">CAD: $$$$$</p>
						<p class="condition">Perfect</p>
						<p class="date"></p>
						<p class="location">In nicolas's house</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div>
		<label class="text" for="message">Messages</label>
		<div id="message_box">
			<a href="" class="single-anchor">
				<div class="single_post">
					<img
						src="https://i.guim.co.uk/img/media/dd3882c4ad0fd11a14cffc7e5edaabe5ce8a8b53/0_85_1077_646/master/1077.jpg?width=700&quality=85&auto=format&fit=max&s=c906598d7b435814a7e49a5ee4779c2f"
						alt="Card image cap"
						class="avatar"
					/>
					<div class="post-body" style="margin: auto;">
						<h6>nicolas cage</h6>

						<p>Hey i am interesting in your house</p>
					</div>
				</div>
			</a>
			<a href="" class="single-anchor">
				<div class="single_post">
					<img
						src="https://i.guim.co.uk/img/media/dd3882c4ad0fd11a14cffc7e5edaabe5ce8a8b53/0_85_1077_646/master/1077.jpg?width=700&quality=85&auto=format&fit=max&s=c906598d7b435814a7e49a5ee4779c2f"
						alt="Card image cap"
						class="avatar"
					/>
					<div class="post-body" style="margin: auto;">
						<h6>nicolas cage</h6>

						<p>Hey i am interesting in your house</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
