<div class="container post">
	<div id="fill_post">
		<form
			method="POST"
			enctype="multipart/form-data"
			id="create_post"
			runat="server"
		>
			<input type="text" name="seller_id" value="<%=user_id%>" hidden />
			<div class="form-group inp">
				<label for="Title">Title</label>
				<input
					class="form-control"
					id="Title"
					name="title"
					type="text"
					placeholder="I am selling this house"
					required
				/>
			</div>
			<div class="form-group inp">
				<label for="Price">Price</label>
				$<input
					class="form-control"
					id="Price"
					name="price"
					type="number"
					placeholder="$200000"
					required
				/>
			</div>
			<div class="form-group inp">
				<label for="condition">Condition</label>
				<select
					class="form-control"
					id="condition"
					name="condition"
					type="text"
				>
					<option value="New">New</option>
					<option value="Good">Good</option>
					<option value="Used">Used</option>
					<option value="n/a">n/a</option>
				</select>
			</div>
			<div class="form-group inp">
				<label for="Category">Category</label>
				<select
					class="form-control"
					id="Category"
					name="category_id"
					type="text"
				>
					<option class="Housing" value="1">Housing</option>
					<option class="Vehicles" value="2">Vehicles</option>
					<option class="Electronics" value="3">Electronics</option>
					<option class="Jobs" value="4">Jobs</option>
					<option class="For Sale" value="5">For Sale</option>
					<option class="Community" value="6">Community</option>
				</select>
			</div>
			<div class="form-group inp">
				<label for="Sub-Category">Sub-Category</label>
				<select
					class="form-control"
					id="Sub-Category"
					name="sub_category_id"
					type="text"
				>
					<option value="1">Buy</option>
					<option value="2">Rent</option>
					<option value="3">Office</option>
					<option value="4">Storage</option>
					<option value="5">Vacation</option>
					<option value="6">Rooms</option>
				</select>
			</div>

			<div class="form-group inp">
				<label for="Description">Description</label>
				<textarea
					name="description"
					class="form-control"
					id="Description"
					rows="3"
					placeholder="In perfect Title, never used ..."
					required
				></textarea>
			</div>

			<div class="form-group area">
				<label for="Sub-Category">Location</label>
				<div>
					<select
						class="form-control"
						id="province"
						name="province"
						type="text"
					>
						<option value="BC">BC</option>
						<option value="AB">AB</option>
						<option value="ON">ON</option>
						<option value="QC">QC</option>
					</select>
					<select class="form-control" id="city" name="area" type="text">
						<option value="Vancouver">Vancouver</option>
						<option value="Richmond">Richmond</option>
						<option value="Surrey">Surrey</option>
						<option value="Burnaby">Burnaby</option>
						<option value="delta/surrey/langley">delta/surrey/langley</option>
					</select>
				</div>
			</div>

			<input
				type="file"
				name="pic"
				accept="image/*"
				id="imgInp"
				multiple
				hidden
				required
			/>
			<br />
		</form>
		<button id="photo_upload" class="upload">
			Upload Images
		</button>
		<br /><br />
		<button class="preview" id="preview">preview</button>
	</div>

	<%-include("./preview");-%>
</div>
