<div class="container detail_msg">
	<div>
		<header>nicolas cage</header>
		<main id="chatbody"></main>
	</div>
	<footer>
		<form id="chatForm">
			<input type="text" name="msg" id="chatinput" />
			<button type="submit" id="send-btn">Send</button>
		</form>
	</footer>
</div>
