<section class="container">
	<form method="GET" action="" id="getreq" hidden></form>
	<div class="content_box">
		<img class="logo" alt="stack_logo" src="/image/logo_with_text.png" />
		<% if(locals.content_css) {%> <%categories.forEach(x=> {%>
		<a class="go_btn" endpoint="/content/category/<%= x.type %>"
			><%= x.type %></a
		>
		<% }) ; %><%}%>
	</div>
</section>
