body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
.navbar {
	background-color: #005cec !important;
}

.header_logo {
	width: 100%;
	min-width: 30px;
	max-width: 65px;
}
.header_logo2 {
	display: none;
	min-width: 120px;
	max-width: 150px;
}

.n-itm {
	display: flex;
	justify-content: space-between;
}

.footer_logo {
	width: 45px;
}

.footer {
	flex-shrink: 0;
}

.footer_nav {
	max-height: 75px;
	box-sizing: border-box;
	padding: 8px 16px;
	background-color: #def1f2;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.side_nav_bar {
	background-color: #fff;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	max-width: 0;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	transition: max-width 0.5s ease-out;
}

.sidebar_logosection {
	width: 300px;
	text-align: center;
	background-color: #005cec;
	height: max-content;
	padding: 15px 10px;
}

.sidebar_logo {
	max-width: 55%;
}

ul {
	list-style: none;
	padding: 0;
	width: 300px;
}

li > ul {
	padding: 0 0 0 15%;
	border-bottom: 1px solid #000;
}

li > ul > li {
	opacity: 0.5;
	padding: 2% 0;
	overflow-x: hidden;
}

li.CATEGORIES > h5,
li.Account > h5 {
	font-weight: bold;
	font-size: 1;
	padding: 2% 0 0 2%;
	overflow-x: hidden;
}

#overlay {
	z-index: 1;
	position: fixed; /* Positioning and size */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-color: rgba(128, 128, 128, 1); /* color */
	display: none; /* making it hidden by default */
	transition: display 3s ease-in;
}

#sidebar-toggle {
	outline: none;
}

#sidebar-toggle > i {
	color: #fff;
	font-size: 28px;
}

.navbar-toggler {
	border: unset !important;
}

.skip {
	font-family: "Roboto", sans-serif;
	color: #7d5cec !important;
}

.login {
	color: white;
	background: #009bff;
	border: 1px solid #009bff;
	box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
}

#logout-btn {
	box-sizing: border-box;
	padding: 0.45rem;
	text-align: center;
	font-family: "Roboto", sans-serif;
	color: red;
	border-top: 1px solid #000;
	font-size: 2rem;
	font-weight: bold;
}
.d-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #def1f2;
	width: 20%;
}

.d-footer {
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #def1f2;
	padding: 1.5rem 0 1.5rem 8rem;
	display: flex;
	max-height: 13.65rem;
}

.d-logo {
	width: 10rem;
}

.d-footer > div:first-child {
	display: flex;
	flex-direction: column;
}

.quick {
	box-sizing: border-box;
	width: 60%;
	display: flex !important;
	justify-content: space-around;
}
.quick > div {
	display: flex;
	flex-direction: column;
}
.quick > div > h6 {
	opacity: 0.5;
}

.header_signin {
	color: #fff;
	max-width: 30%;
}
.header_signin > a {
	padding: 0.5rem;
	cursor: pointer;
	text-decoration: none;
	color: unset;
}
.header_signin > a:nth-child(2) {
	background: #009bff;
	border: 4px solid #ffffff;
	box-sizing: border-box;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 60px;
}

.login-p {
	display: flex;
}

.side-logo-box {
	background-color: #005cec;
	padding: 2rem;
	max-height: 100%;
	display: flex;
	align-items: center;
	width: 30%;
	height: 100vh;
}
.body-sec {
	height: 100vh;
	width: 100%;
}

.side-logo-box > img {
	object-fit: scale-down;
	width: 100%;
	height: 100%;
	margin: auto;
}

.main-pg {
	display: flex !important;
}
.nav-item {
	margin-right: 20px;
}
.nav-item:hover {
	background-color: #7d5cec;
	border-radius: 5%;
}

.account-button {
	background: url(/image/header-account.png) no-repeat;
	width: 150px;
	height: 45px;
	outline: none !important;
	border: transparent;
	margin-right: 2rem;
}

.dropdown-menu {
	margin-right: 2rem;
}
.all-c-box {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-self: start;
	height: max-content;
}

.sub-c-btn {
	font-size: 0.8vw;
	margin: 0 auto;
	width: 80%;
	color: rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 995px) {
	.header_logo {
		display: none;
	}
	.header_logo2 {
		display: inline-block;
		width: 100%;
	}
	.footer_nav {
		display: none;
	}
	.desktop {
		min-height: 100%;
		margin-bottom: 13.65rem;
	}
	.dashboard {
		padding: 20% 0 !important;
	}
	.content_box {
		display: grid !important;
		grid-template-columns: 33% 33% 33%;
		min-height: 75vh !important;
		column-gap: 100px;
		row-gap: 15px;
	}
	.content_box > .logo,
	.dashboard > .logo {
		display: none;
	}
	.login,
	.sign_up {
		width: 70% !important;
	}
	.text_field > h4 {
		font-size: 3rem;
	}
	.logo1 {
		display: none !important;
	}
	.content_box1 {
		padding: 30% 0 25% 0 !important;
	}
	.top_bar {
		display: none !important;
	}
	.sm-btn {
		width: 65% !important;
		margin-bottom: 20px !important;
	}
	.go_btn {
		pointer-events: none;
	}
}
@media only screen and (max-width: 995px) {
	.d-footer {
		display: none;
	}
	.side-logo-box {
		display: none;
	}
	.welcome-msg {
		display: none;
	}

	.sub-c-btn {
		display: none;
	}
}

@media (max-width: 1270px) {
	.d-sidebar {
		display: none;
	}
}

@media (min-width: 768px) and (min-width: 576px) {
	.container {
		max-width: 35%;
	}
	.container.alp {
		max-width: 60%;
	}
}

@media (max-height: 800px) {
	.content_box {
		margin-bottom: 5.5rem;
	}
}
