@charset "UTF-8";
.upload, .preview {
  width: 100%;
  color: white;
  background: #009bff;
  border: 1px solid #009bff;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  outline: none !important;
  border-radius: 60px;
}

#publish-btn, #edit-btn {
  font-size: 1.5rem;
  width: 45%;
  border-radius: 60px;
  padding: 0.5rem;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
  outline: none;
  font-weight: bold;
}

.sign_up, .login {
  width: 80%;
  border-radius: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  outline: none !important;
  text-align: center;
}

.dashboard, .content_box {
  box-sizing: border-box;
  padding: 30% 0 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

a {
  color: unset !important;
  text-decoration: none !important;
}

.container {
  background-color: #fff !important;
}

.form-control {
  background: #def1f2 !important;
}

.form-group {
  margin-bottom: 1rem;
}

.logo {
  width: 40%;
  margin: 0 auto;
}

.logo1 {
  width: 70%;
  margin: 0 auto;
}

.profile {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  margin-bottom: 75px;
}

.crt-post {
  width: 100%;
  border: 4px solid #005cec;
  box-sizing: border-box;
  border-radius: 60px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 2em;
  vertical-align: baseline;
}

.crt-post:hover {
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.text {
  color: #477b99;
  font-weight: bold;
}

#create_post {
  padding: 0.5rem 0;
}

.avatar {
  border-radius: 50%;
  height: 5rem !important;
  width: 5rem !important;
  object-fit: cover;
  margin: auto 0.5rem;
}

.upload {
  color: #000;
  background: #fff;
  border-color: #009bff;
}

.post {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - 75px - 52px);
}

.area div {
  display: flex;
  justify-content: space-between;
}
.area div select {
  width: 30%;
}

#city {
  width: 50%;
}

#preview_img {
  width: 100%;
}

#preview_Title {
  font-weight: bold;
  font-size: 1rem;
}

#edit-btn {
  background-color: #fff;
  border: 3px solid #8721ff;
}

#publish-btn {
  border: 3px solid #009bff;
  background-color: #009bff;
  color: #fff;
}

#preview_section {
  display: none;
  box-sizing: border-box;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100%;
  padding: 0.25rem 0 0 0;
}
#preview_section label {
  margin-bottom: 0 !important;
  width: 80%;
}

#preview_Description {
  padding: 0.5rem;
  word-wrap: break-word;
  max-height: 15rem;
  min-height: 7rem;
  border: 1px solid #000;
  overflow-y: scroll;
  width: 100%;
}

.preview_user {
  padding: 0.25rem;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  background-color: #fff;
  height: 6rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.dashboard .btn-grp {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.dashboard .btn-grp a:first-child {
  margin-bottom: 20px;
  color: #fff !important;
}

.content_box1 {
  box-sizing: border-box;
  padding: 0 0 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.text_field {
  width: 70%;
  text-align: center;
}
.text_field h4 {
  color: #477b99;
  font-weight: bold;
}
.text_field p {
  margin-top: 20px;
  font-weight: bold;
}

.login {
  background: #009bff;
  border: 1px solid #009bff;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.sign_up {
  background: #fff;
  border: 4px solid #005cec;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.125);
}

.back-btn {
  display: flex;
  text-align: left;
}

#user_sign_up,
#user_login {
  width: 80%;
}

.sm-btn {
  width: 80%;
  margin: 0 auto;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.inner2,
.inner3,
.inner4 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.inp {
  width: 100%;
  margin-bottom: 0 !important;
}

.terms_boiler {
  margin-top: 50px;
  font-size: 0.8rem;
}

.int_req {
  opacity: 0.8;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;
}

input:focus + .int_req {
  max-height: 500px;
  transition: max-height 1s ease-in;
}

.invalid {
  color: red;
}

.invalid::after {
  content: "❌";
}

.valid {
  color: #2ecc71;
}

.valid::after {
  content: "✔️";
}

#confirm_agree {
  width: 20px;
  height: 20px;
}

div.ui-dialog {
  border-radius: 5%;
  width: 250px !important;
  background-color: #fff;
}
div.ui-dialog .ui-dialog-titlebar {
  background: transparent;
  border: none;
}
div.ui-dialog .ui-widget-content {
  border: none;
}

#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  margin: 0 auto;
  color: #000;
  border-left: 3px solid #ed1f24;
  padding: 20px;
  overflow: hidden;
  max-height: 250px;
}

.requirement_frm,
.go_btn {
  border: 4px solid #005cec;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 30px;
}

.content_home {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 10px 0;
  min-height: calc(100vh - 75px - 52px);
}

.post_container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  padding: 10px 0;
}

.single_post, .user_single_post {
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: 7.5rem;
}

.user_single_post .post-img {
  object-fit: scale-down;
  width: 10rem;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.user_single_post .post-body {
  width: 100%;
  padding: 0.25rem 0.3rem;
  overflow-x: hidden;
}
.user_single_post .post-body h6 {
  font-weight: bold;
}
.user_single_post .post-body p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.post_grid {
  margin-bottom: 10rem;
}

.post_style {
  margin-top: 13%;
}

.single_post {
  flex-direction: column;
  height: unset;
}
.single_post .post-img {
  object-fit: scale-down;
  width: 10rem;
  height: 7rem;
  margin: auto;
}
.single_post .post-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  padding: 0.25rem 0.3rem;
  overflow-x: hidden;
}
.single_post .post-body h6 {
  font-weight: bold;
}
.single_post .post-body p {
  font-size: 0.8rem;
  margin-bottom: 0 !important;
}

.single_post:hover, .user_single_post:hover {
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
}

label[for=sort] {
  font-weight: bold;
}

.user {
  padding: 0.25rem;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  background-color: #fff;
  height: 6rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.user img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

#post-sec {
  height: 100%;
  margin-bottom: 80px;
}

#contact {
  width: 45%;
  border-color: #009bff;
  background: #009bff;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  padding: 0.5rem;
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
  outline: none;
}

.navbar {
  z-index: 1;
  min-height: 5%;
  background-color: #005cec !important;
}

.header_logo {
  width: 100%;
  min-width: 30px;
  max-width: 65px;
}

.header_logo2 {
  display: none;
  min-width: 120px;
  max-width: 150px;
}

.n-itm {
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  width: 45px;
}

.footer {
  flex-shrink: 0;
}

.footer_nav {
  max-height: 75px;
  box-sizing: border-box;
  padding: 8px 16px;
  background-color: #def1f2;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.side_nav_bar {
  background-color: #fff;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transition: max-width 0.5s ease-out;
}

.sidebar_logosection {
  width: 300px;
  text-align: center;
  background-color: #005cec;
  height: max-content;
  padding: 15px 10px;
}

.sidebar_logo {
  max-width: 55%;
}

ul {
  list-style: none;
  padding: 0;
  width: 300px;
}
ul li ul {
  padding: 0 0 0 15%;
  border-bottom: 1px solid #000;
}
ul li ul li {
  opacity: 0.5;
  padding: 2% 0;
  overflow-x: hidden;
}

li.CATEGORIES > h5, li.Account > h5 {
  font-weight: bold;
  font-size: 1;
  padding: 2% 0 0 2%;
  overflow-x: hidden;
}

#overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: gray;
  display: none;
  transition: display 3s ease-in;
}

#sidebar-toggle {
  outline: none;
}
#sidebar-toggle i {
  color: #fff;
  font-size: 28px;
}

.navbar-toggler {
  border: unset !important;
}

.skip {
  color: #7d5cec !important;
}

.login {
  color: white;
  background: #009bff;
  border: 1px solid #009bff;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
}

#logout-btn {
  box-sizing: border-box;
  padding: 0.45rem;
  text-align: center;
  color: red !important;
  border-top: 1px solid #000;
  font-size: 2rem;
  font-weight: bold;
}

.d-sidebar {
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  top: 71.5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-right: 1px solid #000;
  width: 20%;
  padding: 1rem;
  box-sizing: border-box;
}
.d-sidebar form .form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.d-sidebar form .form-group .form-control {
  min-width: 193px;
  max-width: 235px;
}

.pp #latest_post, .fp #latest_post {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  max-height: 300px;
  overflow-y: auto;
}
.pp #latest_post a:first-child .user_single_post, .fp #latest_post a:first-child .user_single_post {
  margin-top: 0 !important;
}

.mg #message_box {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  max-height: 300px;
  overflow-y: auto;
}
.mg #message_box a:first-child .user_single_post {
  margin-top: 0 !important;
}

.d-footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #def1f2;
  padding: 1.5rem 0 1.5rem 8rem;
  display: flex;
  max-height: 13.65rem;
}
.d-footer div:first-child {
  display: flex;
  flex-direction: column;
}

.d-logo {
  width: 10rem;
}

.quick {
  box-sizing: border-box;
  width: 60%;
  display: flex !important;
  justify-content: space-around;
}
.quick div {
  display: flex;
  flex-direction: column;
}
.quick h6 {
  opacity: 0.5;
}

.header_signin {
  color: #fff;
  max-width: 30%;
}
.header_signin a {
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  color: unset;
}
.header_signin a:nth-child(2) {
  background: #009bff;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}

.login-p {
  display: flex;
}

.preview {
  margin-bottom: 80px;
}

.side-logo-box {
  background-color: #005cec;
  padding: 2rem;
  max-height: 100%;
  display: flex;
  align-items: center;
  width: 30%;
  height: 100vh;
}
.side-logo-box img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
  margin: auto;
}

.body-sec {
  height: 100vh;
  width: 100%;
}

.main-pg {
  display: flex !important;
}

.nav-item {
  margin-right: 20px;
}
.nav-item :hover {
  background-color: #7d5cec;
  border-radius: 5%;
}

.account-button {
  background: url(/image/header-account.png) no-repeat;
  width: 150px;
  height: 45px;
  outline: none !important;
  border: transparent;
  margin-right: 2rem;
}

.dropdown-menu {
  margin-right: 2rem;
}

.all-c-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: start;
  height: max-content;
}

.sub-c-btn {
  font-size: 1vw;
  margin: 0 auto;
  width: 80%;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.sub-c-btn:hover {
  padding-left: 0.25rem;
  background-color: #009bff;
  color: white !important;
  border-radius: 60px;
}

#avatar {
  border-radius: 50%;
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  border: 4px solid #009bff;
  cursor: pointer;
}

#avatar:hover {
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.saved {
  width: 100%;
  color: #009bff;
  background-color: #fff;
  border: 4px solid #009bff;
  border-radius: 60px;
  padding: 0.5rem;
  font-weight: bold;
  outline: none !important;
}

.ql:hover {
  padding-left: 0.25rem;
  background-color: #009bff;
  color: white !important;
  border-radius: 60px;
}

.slide_container {
  position: relative;
  min-height: 285px;
}
.slide_container .mySlides img {
  width: 100%;
}
.slide_container .prev, .slide_container .next {
  background-color: #009bff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white !important;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.slide_container .prev:hover, .slide_container .next:hover {
  color: unset !important;
  background: white;
}
.slide_container .next {
  right: 0;
}
.slide_container .row {
  content: "";
  display: table;
  clear: both;
  padding: 0 15px;
}
.slide_container .row .column {
  float: left;
  width: 10%;
}

.about {
  max-width: 80% !important;
  margin-top: 80px;
}
.about section ul {
  list-style-type: disc;
  width: 100%;
  padding-left: 50px;
}

@media only screen and (min-width: 995px) {
  .back-btn {
    display: none;
  }

  .header_logo {
    display: none;
  }

  .header_logo2 {
    display: inline-block;
    width: 100%;
  }

  .footer_nav {
    display: none;
  }

  .desktop {
    min-height: 100%;
    margin-bottom: 13.65rem;
  }

  .dashboard {
    padding: 20% 0 !important;
  }

  .content_home {
    position: relative;
    display: grid !important;
    grid-template-columns: 33% 33% 33%;
    min-height: 75vh !important;
    column-gap: 100px;
    row-gap: 15px;
    left: 15%;
    top: 80px;
  }

  .post_container {
    margin-left: 20%;
  }

  .content_home > .logo,
.dashboard > .logo {
    display: none;
  }

  .login,
.sign_up {
    width: 70% !important;
  }

  .text_field > h4 {
    font-size: 3rem;
  }

  .logo1 {
    display: none !important;
  }

  .content_box1 {
    padding: 30% 0 25% 0 !important;
  }

  .top_bar {
    display: none !important;
  }

  .sm-btn {
    width: 65% !important;
    margin-bottom: 20px !important;
  }

  .go_btn {
    pointer-events: none;
  }

  .form-control.sort {
    width: 20%;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .container.p {
    min-width: 60%;
  }

  .container.detail {
    min-width: 45%;
  }

  .post_grid {
    margin-top: 4%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 50px;
    row-gap: 15px;
    justify-content: center;
  }

  section.container.profile {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 15px;
  }
  section.container.profile .logo {
    display: none;
  }
  section.container.profile span.text {
    grid-column: 1/span 1;
    grid-row: 1;
  }
  section.container.profile .pp {
    grid-column: 1/span 3;
    grid-row: 2;
  }
  section.container.profile .fp {
    grid-column: 1/span 3;
    grid-row: 3;
  }
  section.container.profile .mg {
    grid-column: 1/span 3;
    grid-row: 4;
  }

  section.container.profile,
.container.detail,
.container.post,
.container.account {
    position: relative;
    min-width: 50%;
    left: 5%;
  }

  .container.account {
    padding-top: 1rem;
  }

  .container.post,
section.container.profile {
    top: 14%;
    margin-bottom: 50px;
  }

  .container.account {
    top: 7%;
  }

  #preview_section {
    margin-bottom: unset;
    grid-template-columns: repeat(3, 1fr);
  }
  #preview_section img {
    width: 80%;
    margin: 0 auto;
    margin-top: 4%;
    grid-column: 1/span 3;
    grid-row: 1;
  }
  #preview_section #info {
    grid-column: 1/span 2;
    grid-row: 2;
  }
  #preview_section .user_info {
    margin-top: 4%;
    grid-column: 3;
    grid-row: 2;
  }
  #preview_section .avatar {
    margin: auto 0;
  }

  #post-sec {
    display: grid;
    margin-bottom: 8%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
  #post-sec .slide_container {
    margin: 0 auto;
    margin-top: 8%;
    grid-column: 1/span 3;
    grid-row: 1;
    width: 800px;
    max-height: 800px;
  }
  #post-sec .slide_container .mySlides {
    max-width: 800px;
    max-height: 600px;
    margin: 0 auto;
  }
  #post-sec .slide_container .mySlides img {
    min-width: 800px;
    min-height: 600px;
    max-height: 600px;
    max-width: 800px;
    margin: 0 auto !important;
    object-fit: contain !important;
  }
  #post-sec .item-info {
    grid-column: 1/span 2;
    grid-row: 2;
  }
}
@media (max-width: 995px) {
  .d-footer {
    display: none;
  }

  .side-logo-box {
    display: none;
  }

  .welcome-msg {
    display: none;
  }

  .side-bar-container {
    display: none;
  }

  .sub-c-btn {
    display: none;
  }

  .container.account {
    padding-top: 1rem;
    margin-bottom: 5rem;
  }

  .mySlides {
    width: auto;
    height: 370px;
    margin: 0 auto;
  }
  .mySlides img {
    max-height: 370px !important;
    max-width: 100%;
    margin: auto;
    object-fit: scale-down !important;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 80%;
  }

  .container.alp {
    max-width: 60%;
  }

  .content_home {
    margin-bottom: 180px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 65%;
  }
}
@media (max-height: 800px) {
  .content_box {
    margin-bottom: 5.5rem;
  }
}
@media (max-width: 1270px) {
  .d-sidebar {
    display: none;
  }

  .content_home {
    left: 0;
    margin-bottom: 0;
  }
  .content_home .sub-c-btn {
    font-size: 1vw;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  section.container.profile,
.container.detail,
.container.post,
.container.account {
    max-width: 65%;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 30%;
  }

  .container.post {
    top: 0%;
  }
}
@media (max-width: 425px) {
  .container.post {
    margin-bottom: 80px;
  }
}

/*# sourceMappingURL=main.css.map */
