body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.logo {
	width: 40%;
	margin: 0 auto;
}

.profile {
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
	margin-bottom: 75px;
}

.crt-post {
	width: 100%;
	border: 4px solid #005cec;
	box-sizing: border-box;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 60px;
	text-align: center;
	color: #000000;
	font-weight: bold;
	font-size: 2em;
	vertical-align: baseline;
}

.single_post {
	margin-bottom: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: start;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	height: 7rem;
}

.single_post:hover {
	box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.post-img {
	object-fit: scale-down;
	width: 10rem;
	border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.post-body {
	width: 100%;
	padding: 0.25rem 0.3rem;
	overflow-x: hidden;
}
.post-body > h6 {
	font-weight: bold;
}
.post-body > p {
	font-size: 0.8rem;
	margin-bottom: 0;
}

a {
	color: unset;
	text-decoration: none;
}

.text {
	color: #477b99;
	font-weight: bold;
}

span.text {
	text-align: center;
	font-size: 2rem;
}

.avatar {
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
	object-fit: cover;
	margin: auto;
	margin: auto 0.5rem;
}

#create_post {
	padding: 0.5rem 0;
}

.form-control {
	background: #def1f2 !important;
}

.upload,
.preview {
	width: 100%;
	color: white;
	background: #009bff;
	border: 1px solid #009bff;
	box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 30px;
	line-height: 42px;
	outline: none !important;
	border-radius: 60px;
}

.upload {
	color: #000;
	background-color: #fff;
	border-color: #009bff;
}

.post {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: calc(100vh - 75px - 52px);
}

.area > div {
	display: flex;
	justify-content: space-between;
}

.area > div > select {
	width: 30%;
}

#city {
	width: 50%;
}

.form-group {
	margin-bottom: unset !important;
}

#preview_img {
	width: 100%;
}

#preview_Title {
	font-weight: bold;
	font-size: 1rem;
}

#edit-btn,
#publish-btn {
	font-size: 1.5rem;
	width: 45%;
	border-radius: 60px;
	padding: 0.5rem;
	box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
	outline: none;
	font-weight: bold;
}
#edit-btn {
	background-color: #fff;
	border: 3px solid #8721ff;
}
#publish-btn {
	border: 3px solid #009bff;
	background-color: #009bff;
	color: #fff;
}

#preview_section {
	display: none;
	box-sizing: border-box;
	justify-content: space-around;
	flex-direction: column;
	min-height: 100vh;
	padding: 0.25rem 0 0 0;
	margin-bottom: 6.5rem;
}

#preview_Description {
	padding: 0.5rem;
	word-wrap: break-word;
	max-height: 10rem;
	min-height: 5.5rem;
	border: 1px solid #000;
	overflow-y: scroll;
}

.preview_user {
	padding: 0.25rem;
	margin-bottom: 20px;
	box-sizing: border-box;
	display: flex;
	background-color: #fff;
	height: 6rem;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

#preview_Description > label {
	margin-bottom: 0 !important;
}
