<div class="container about" style="display: flex; flex-direction: column;">
	<label>
		<a class="hl" href="/about/FAQ">FAQ</a>
		<br />frequently asked questions
	</label>
	<label>
		<a class="hl" href="https://www.craigslist.org/about/help/">Help</a>
		<br />need assistance?
	</label>
	<label>
		<a class="hl" href="/about/privacy_policy">Privacy Policy</a>
		<br />user privacy info
	</label>
	<label>
		<a class="hl" href="/about/term_of_service">Terms of use</a>
		<br />
		please read carefully
	</label>
	<label>
		<a class="hl" href="/about/security_tips">Security Tips</a>
		<br />
		rule #1 is "deal locally"
	</label>

	<label>
		<a class="hl" href="https://vancouver.craigslist.org/contact">Contact Us</a>
		<br />
		send us a note
	</label>
</div>
