<div class="container about">
	<section class="simple-page-content">
		<p>
			<span style="background: #dddddd;"
				><strong>Basic how-to for job postings</strong></span
			>
		</p>
		<ul>
			<li>
				<a class="ql" href="posting_fees"
					>How much does it cost to post a job?</a
				>
			</li>
			<li><a class="ql" href="paid-how">How do I post a job?</a></li>
			<li>
				<a class="ql" href="posting_lifespans"
					>How long does a job post remain on the site?</a
				>
			</li>
			<li>
				<a class="ql" href="job-edit"
					>How can I edit or delete my job posting?</a
				>
			</li>
			<li>
				<a class="ql" href="//craigslist.org/about/help/job-repost"
					>How can I repost a job?</a
				>
			</li>
		</ul>
		<p>
			<span style="background: #dddddd;"
				><strong>Other questions for job postings</strong></span
			>
		</p>
		<ul>
			<li>
				<a class="ql" href="#howlong"
					>How long after I submit a job post will it appear on the site?</a
				>
			</li>
			<li>
				<a class="ql" href="#jobfairs"
					>Can I post a job fair, career day, or open house?</a
				>
			</li>
			<li>
				<a class="ql" href="#html"
					>Can I add HTML tags or URLs in my posting?</a
				>
			</li>
			<li>
				<a class="ql" href="#multiplejobs"
					>I have three positions to fill, can I put all three in one job
					post?</a
				>
			</li>
			<li>
				<a class="ql" href="#onlinepayment">Do you accept credit cards?</a>
			</li>
			<li>
				<a class="ql" href="#prohibitedjobs"
					>Are multi-level marketing opportunities allowed?</a
				>
			</li>
			<li>
				<a class="ql" href="#focusgroup"
					>What about focus group opportunities?</a
				>
			</li>
		</ul>
		<p>
			<span style="background: #dddddd;"
				><strong>Resources for paid job posters<br /></strong
			></span>
		</p>
		<ul>
			<li>
				Email us at
				<a class="ql" href="mailto:jobs@craigslist.org">jobs@craigslist.org</a>.
			</li>
			<li>
				<a class="ql" href="https://accounts.craigslist.org/login/"
					>Login to your account</a
				>.
			</li>
			<li>
				<a class="ql" href="https://accounts.craigslist.org/signup"
					>Sign up for an account</a
				>.
			</li>
			<li>
				<a class="ql" href="accountposting">Posting through your account</a>.
			</li>
			<li>
				<a class="ql" href="//www.craigslist.org/payonline"
					>Pay an invoice online</a
				>.
			</li>
			<li>
				<a class="ql" href="//sfbay.craigslist.org/res/"
					>Search the resume category</a
				>,&nbsp;<font color="green">it's free!</font>
			</li>
			<li>
				<a class="ql" href="blockaccounts"
					>Have a lot of jobs to post? Find out about craigslist's block
					accounts</a
				>.
			</li>
		</ul>
		<p>&nbsp;</p>
		<hr />
		<p>
			<span style="background: #dddddd;"
				><strong
					><a class="ql" name="howlong"></a>How long after I submit a job post
					will it appear on the site?</strong
				></span
			>
		</p>
		<p>
			Paid job postings generally appear on index pages and in search results
			10-20 minutes after submission.
		</p>
		<p>
			To see your post, go to the category for your job. You may need to
			<a class="ql" href="//craigslist.org/about/help/refresh"
				>REFRESH or RELOAD</a
			>&nbsp;the page if your job does not appear in your browser&mdash;the
			refresh/reload should be near the top of your browser window.
		</p>
		<p>
			<span style="background: #dddddd;"
				><strong
					><a class="ql" name="jobfairs"></a>Can I post a job fair, career day,
					or open house?</strong
				></span
			>
		</p>
		<p>
			Not in jobs categories. These happenings can however be posted under
			"events."
		</p>
		<p>
			<span style="background: #dddddd;"
				><strong
					><a class="ql" name="html"></a>Can I add HTML tags or URLs in my
					posting?</strong
				></span
			>
		</p>
		<p>
			In jobs and a few other categories, yes.&nbsp;However please use HTML
			sparingly.
		</p>
		<p>
			Check the (infrequently updated)&nbsp;<a
				class="ql"
				href="//www.craigslist.org/about/help/html_in_craigslist_postings/details"
				>list of supported HTML</a
			>&nbsp;for more details.
		</p>
		<p>
			<strong>Note</strong>: Formatting-wise, if you use HTML in any part of
			your posting you&nbsp;may need to use it throughout.
		</p>
		<p>
			<span style="background: #dddddd;"
				><strong
					><a class="ql" name="multiplejobs"></a>I have three positions to
					fill&mdash;</strong
				></span
			><span style="background: #dddddd;"
				><strong>can I put all three in one job ad?</strong></span
			><strong><br /></strong>
		</p>
		<p>
			One job description per job post please. As a rule of thumb, job titles
			should be singular, not plural.
		</p>
		<p>
			<span style="background: #dddddd;"
				><strong
					><a class="ql" name="onlinepayment"></a>Do you accept credit
					cards?</strong
				></span
			>
		</p>
		<p>
			American Express, MasterCard, and Visa are accepted. In most cases, you
			will enter your credit card information at the end of the posting process,
			and your card will be charged immediately.
		</p>
		<p>
			If you use a craigslist account to post your job, we will send you an
			invoice and you can use your credit card to pay your invoice. Once you
			receive your invoice, go to our
			<a class="ql" href="//www.craigslist.org/payonline"
				>online invoice payment form</a
			>. You'll need the invoice number and the original billing email address
			(this information is on your email or paper invoice). You can use this
			form to pay for any old invoices that you may have as well.
		</p>
		<p>
			If you have any questions, please send an email to&nbsp;<a
				class="ql"
				href="mailto:billing@craigslist.org"
				>billing@craigslist.org</a
			>.
		</p>
		<p>
			Our online credit card payment forms are encrypted using industry standard
			128-bit Secure Socket Layer (SSL) encryption. Your credit card information
			is relayed (using the same encryption method) to a payment processor,
			which charges your account.
		</p>
		<p>
			<span style="background: #dddddd;"
				><strong
					><a class="ql" name="prohibitedjobs"></a>Are multi-level marketing and
					similar opportunities welcomed?<br /></strong
			></span>
		</p>
		<p>
			No. CL users don't seem to like them. Multi-level marketing opportunities,
			"club memberships," distributorships or sales representative agency
			arrangements, and other business opportunities requiring&nbsp; payment(s),
			and/or require recruitment of other members, distributors or agents are
			strongly discouraged.
		</p>
		<p>
			<span style="background: #dddddd;"
				><strong
					><a class="ql" name="focusgroup"></a>What about focus group
					opportunities?</strong
				></span
			>
		</p>
		<p>
			Focus group opportunities can be submitted in the "et cetera" jobs
			category.
		</p>
		<p>&nbsp;</p>
	</section>
</div>
