<div class="container about">
    <section class="simple-page-content">
        <blockquote>
<div class="header"><span style="font-size: 14pt; background: #dddddd;"><strong><span style="font-size: 12pt;">Basic how-to for free postings</span></strong></span><span style="color: #339966;">&nbsp;(<a href="/about/faq-job"><span style="color: #339966;">JOB POSTERS please click here</span></a>)</span></div>
<ul>
<li><a class="ql" href="#freePosting">How do I post a free posting?</a></li>
<li><a class="ql" href="#editPosting">How can I edit my posting?</a></li>
<li><a class="ql" href="#lifespan">How soon does my posting expire?</a></li>
<li><a class="ql" href="#deletePosting">How can I delete my posting?</a></li>
<li><a class="ql" href="#repost">How do I repost my posting?</a></li>
<li><a class="ql" href="#postOften">How often can I post?</a></li>
<li><a class="ql" href="#postinganonymously">How can I post anonymously and still receive responses?</a></li>
<li><a class="ql" href="#nopublishingemail">I have not received the email to self-publish my free posting, what should I do?</a></li>
<li><a class="ql" href="#pictures">Can I add a picture to my posting?</a></li>
<li><a class="ql" href="#HTMLuse">Can I use HTML tags or URLs in my posting?</a></li>
<li><a class="ql" href="/about/terms.of.use">Terms of Use</a></li>
<li><a class="ql" href="/about/privacy.policy">Privacy Policy</a></li>
</ul>
<div class="header"><span style="font-size: 12pt; background: #dddddd;"><strong>More guidelines</strong></span></div>
<ul>
<li><a class="ql" href="#prohibited">What kind of postings are prohibited?</a></li>
<li><a class="ql" href="#prank">What should I do if someone harasses me by posting a prank posting?</a></li>
<li><a class="ql" href="#wronggeo">Can I post to all of craigslist's sites?</a></li>
<li><a class="ql" href="#focusGroup">What category is appropriate for posting focus group opportunities?</a></li>
<li><a class="ql" href="#archive">I saw a particular posting 6 months ago and would like to see it again. Can I?</a></li>
<li><a class="ql" href="#dealers">Where can I advertise my services/business on craigslist?</a></li>
<li><a class="ql" href="#repostForProfit">Can I offer a posting service or act as a posting agent on craigslist?</a></li>
<li><a class="ql" href="#auction">Can I put a link in my for sale posting to an auction site like ebay?</a></li>
<li><a class="ql" href="#scalping">Can I scalp my tickets and popular gift items on craigslist?</a></li>
</ul>
<div class="header"><a name="freePosting"></a><span style="background: #dddddd;"><strong>How do I post a free posting?</strong></span></div>
<p>You can post a free ad without having an account or logging in to our site. To learn how, please read our <a href="//craigslist.org/about/help/how_to_post">help page on how to create a free post</a>. However, having a <a href="user_accounts">craigslist account</a> will allow you to post, edit, delete, and repost more easily.</p>
<div class="header"><a name="editPosting"></a><span style="background: #dddddd;"><strong>How can I edit my posting?</strong></span></div>
<p>Edits for postings are now self-service.</p>
<p>If you posted while logged in to your account, you can edit from <a href="https://accounts.craigslist.org/login/">your account homepage</a>.</p>
<p>Otherwise, use the link provided in the same self-posting email you used originally to self-post. If you can't find this, try <a href="//www.craigslist.org/about/help/resend">having it re-sent</a>.</p>
<div class="header"><a name="lifespan"></a><span style="background: #dddddd;"><strong>How soon does my posting expire?</strong></span></div>
<p>View the <a href="//www.craigslist.org/about/help/posting_lifespans">full list of posting lifespans</a>.</p>
<div class="header"><a name="deletePosting"></a><span style="background: #dddddd;"><strong>How can I delete my posting?</strong></span></div>
<p>If you posted using an account, you can delete your posting from <a href="https://accounts.craigslist.org/login/">your account homepage</a>.</p>
<p>Otherwise, use the same link provided in the self-posting email that you used to post the ad originally. If you can't find this, try <a href="//www.craigslist.org/about/help/resend">having it re-sent</a>.</p>
<p>Please note, all postings are automatically deleted <a href="#lifespan">upon expiration</a>.</p>
<div class="header"><a name="repost"></a><span style="background: #dddddd;"><strong>How do I repost my posting?</strong></span></div>
<p>For more information on reposting free ads, see <a title="repost" href="//www.craigslist.org/about/help/repost" target="_self">this page</a>.</p>
<p>For information on reposting paid ads, please visit <a title="jobrepost" href="//www.craigslist.org/about/help/job-repost" target="_self">this page</a>.</p>
<div class="header"><a name="postOften"></a><span style="background: #dddddd;"><strong>How often can I post?</strong></span></div>
<p>You may post to one category and in one city, no more than once every 48 hours.</p>
<p>If you try to post something similar to an active post of yours on the site, you may get a blocked message. Removing the similar active post should help, unless it is less than 48 hours old.</p>
<div class="header"><a name="postinganonymously"></a><span style="background: #dddddd;"><strong>How can I post anonymously and still receive responses?</strong></span></div>
<p>When submitting a posting, you are asked to provide your email address.</p>
<p>You have three options:</p>
<ol>
<li>You can use <a href="/about/help/email-relay">craigslist 2-way email relay</a>. Responses are relayed to your actual email address.</li>
<li>Your email address can appear in your posting just as you have typed it.</li>
<li>No email address shown at all&mdash;you'll need to provide contact information in the body of your post.</li>
</ol>
<p>Using <a href="/about/help/email-relay">craigslist 2-way email relay</a> helps protect both your email address and the email address of anyone who replies to your post. It&nbsp;is generally recommended and is the default option.</p>
craigslist mail relay is always an option, but some of the options listed above may not be available in other categories. For example, if you are posting in the personal categories, option #2 is not available.</blockquote>
<blockquote>
<div class="header"><a name="nopublishingemail"></a><span style="background: #dddddd;"><strong>I have not received the email to self-publish my free posting, what should I do?</strong></span></div>
<ul>
<li>If you are using an online email account, please check your bulk/junk/spam mail folder(s).</li>
<li>You may have entered your email address incorrectly&mdash;it only takes one typo!</li>
<li>Some email providers and ISPs have implemented "spam filters" some of which are badly designed or misconfigured, resulting in craigslist emails being filtered out or intercepted.</li>
<li>Your email provider may be experiencing delays, or other technical issues.</li>
</ul>
<div class="header"><a name="pictures"></a><span style="background: #dddddd;"><strong>Can I add a picture to my posting?</strong></span></div>
<p>In some categories, you will be offered the option to "Add Images" during the posting process. You will be prompted to upload images from your computer to craigslist.</p>
<div class="header"><a name="HTMLuse"></a><span style="background: #dddddd;"><strong>Can I use HTML tags or URLs in my posting?</strong></span></div>
<p>Please use HTML sparingly. Users generally prefer ads with little or no added HTML.</p>
<p>Please use only HTML tags appropriate for the &lt;body&gt; section of a document.</p>
<p>No support is provided for JavaScript, applets, Flash, or other embedded non-HTML content.</p>
<p>For more information see our <a href="/about/help/html_in_craigslist_postings/">HTML Guidelines</a>.</p>
<p>If you use HTML in any part of your posting, you must use it throughout.</p>
<div class="header"><a name="prohibited"></a><span style="background: #dddddd;"><strong>What kind of postings are prohibited?</strong></span></div>
<p>Please consult the <a href="/about/terms.of.use">Terms of Use</a>.</p>
<p>Category-specific guidelines posted in specific sections of the site must also be observed.</p>
<p>For your reference, there is also a non-comprehensive list of <a href="/about/prohibited">prohibited items/content.</a></p>
<div class="header"><a name="prank"></a><span style="background: #dddddd;"><strong>What should I do if someone harasses me by posting a prank posting?</strong></span></div>
<p>If you are the target of a prank or other harassment related to a craigslist post, please contact us&nbsp;immediately using the suggestions we outline on our <a href="//craigslist.org/about/help/abuse">abuse help page</a>.</p>
<div class="header"><a name="wronggeo"></a><span style="background: #dddddd;"><strong>Can I post my ad on more than one craigslist site?</strong></span></div>
<p>Please choose just ONE local craigslist site for which your ad is most relevant&mdash;generally the site closest to you. If your ad is equally relevant to all locations, your ad does not belong on craigslist. Please find another service. Posting the same ad to multiple locations on craigslist is prohibited.</p>
<div class="header"><a name="focusGroup"></a><span style="background: #dddddd;"><strong>Where do focus group opportunities go on the site?</strong></span></div>
<p>Focus group opportunities can be posted to the "et cetera" jobs category, or in the "gigs" section.</p>
<div class="header"><a name="archive"></a><span style="background: #dddddd;"><strong>I saw a particular posting 6 months ago and would like to see it again. Can I?</strong></span></div>
<p>Generally not. We will however respond to a valid subpoena for that information.</p>
<div class="header"><a name="dealers"></a><span style="background: #dddddd;"><strong>Where can I advertise my services/business on craigslist?</strong></span></div>
<p>Only in the "services offered" categories please.</p>
<div class="header"><a name="repostForProfit"></a><span style="background: #dddddd;"><strong>Can I post ads on craigslist on behalf of others as a paid posting agent or posting service?</strong></span></div>
<p>Unauthorized posting agents/services are prohibited. Violators agree to pay CL liquidated damages for each posting.</p>
<div class="header"><a name="auction"></a><span style="background: #dddddd;"><strong>Can I put a link in my for sale posting pointing to an auction site like eBay?</strong></span></div>
<p>No. Please post a set price, do not solicit bidding, and do not link to auctions elsewhere.</p>
<div class="header"><a name="scalping"></a><span style="background: #dddddd;"><strong>Can I scalp my ticket or popular gift item on craigslist?</strong></span></div>
<p>Many users will <a href="flags_and_community_moderation">flag</a> posts scalping tickets or popular gift items for way over face value.</p>
</blockquote>
</div>