<div class="container about">
	<section class="simple-page-content">
		<p>
			<strong style="text-align: left; padding-left: 200px;"
				><a class="ql" href="scams">avoiding scams</a>&nbsp; |&nbsp;
				<a class="ql" href="http://www.craigslist.org/about/prohibited"
					>prohibited</a
				>&nbsp; |&nbsp;
				<a class="ql" href="http://www.craigslist.org/about/recalled_items"
					>recalls</a
				>&nbsp; |&nbsp;
				<a class="ql" href="http://forums.craigslist.org/?forumID=9"
					>forum</a
				></strong
			>
		</p>
		<h2>Personal Safety</h2>
		<p>
			The overwhelming majority of craigslist users are trustworthy and
			well-meaning.
		</p>
		<p>
			With billions of human interactions, the incidence of violent crime
			related to craigslist&nbsp;is extremely low.
		</p>
		<p>
			<a class="ql" href="http://www.bjs.gov/"
				>Millions of violent crimes occur in the U.S. each year</a
			>: 10,000+ homicides, 600,000+&nbsp;robberies, 5
			million&nbsp;assaults.&nbsp;
		</p>
		<p>Vanishingly&nbsp;few of these are craigslist-related.</p>
		<p>
			Nevertheless, please take the same common sense precautions online as you
			would offline.
		</p>
		<blockquote>
			<p>When meeting someone for the first time, please remember to:</p>
			<ul>
				<li>
					Insist on a public meeting place like a cafe, bank, or shopping
					center.
				</li>
				<li>
					Do not meet in a secluded place, or invite strangers into your home.
				</li>
				<li>Be especially careful buying/selling high value items.</li>
				<li>Tell a friend or family member where you're going.</li>
				<li>Take your cell phone along if you have one.</li>
				<li>Consider having a friend accompany you.</li>
				<li>Trust your instincts.</li>
			</ul>
		</blockquote>
		<p>
			Taking these simple precautions helps make craigslist safer for everyone.
		</p>
		<p>
			For more information about personal safety online, check out these
			resources:
		</p>
		<ul>
			<li>
				<a class="ql" href="http://www.staysafeonline.org/"
					>http://www.staysafeonline.org/</a
				>
			</li>
			<li>
				<a class="ql" href="http://www.onguardonline.gov/"
					>http://www.onguardonline.gov/</a
				>
			</li>
			<li>
				<a class="ql" href="http://getsafeonline.org/"
					>http://getsafeonline.org</a
				>
			</li>
			<li>
				<a class="ql" href="http://wiredsafety.org/">http://wiredsafety.org</a>
			</li>
		</ul>
		<p>
			Please review our
			<a class="ql" href="/about/scams">avoiding scams</a> page as well.
		</p>
	</section>
</div>
