<footer class="d-footer">
	<div style="align-items: center;">
		<img class="d-logo" src="/image/horizontal.png" />
		(Social Media Icons)
	</div>
	<div class="quick">
		<div>
			<h6>CATEGORY</h6>
			<a>Housing</a>
			<a>Vehicles</a>
			<a>Electronics</a>
			<a>Jobs</a>
			<a>For Sale</a>
			<a>Community</a>
		</div>
		<div>
			<h6>SUPPORT</h6>
			<a>FAQ</a>
			<a>Help</a>
			<a>Privacy</a>
			<a>Terms of use</a>
			<a>Security Tips</a>
			<a>Contact Us</a>
		</div>
		<div>
			<h6>QUICK h6NKS</h6>
			<a>About Craigslist</a>
			<a>Messages</a>
			<a>Create a Post</a>
			<a>Favourites</a>
			<a>Account</a>
		</div>
	</div>
</footer>
