<footer class="d-footer">
	<div style="align-items: center;">
		<img class="d-logo" src="/image/horizontal.png" />
		(Social Media Icons)
	</div>
	<div class="quick">
		<div>
			<h6>CATEGORY</h6>
			<a class="ql" href="/content/ql/Housing/1">Housing</a>
			<a class="ql" href="/content/ql/Vehicles/2">Vehicles</a>
			<a class="ql" href="/content/ql/Electronics/3">Electronics</a>
			<a class="ql" href="/content/ql/Jobs/4">Jobs</a>
			<a class="ql" href="/content/ql/For_Sale/5">For Sale</a>
			<a class="ql" href="/content/ql/Community/6">Community</a>
		</div>
		<div>
			<h6>SUPPORT</h6>
			<a class="ql" href="/content/qls/FAQ">FAQ</a>
			<a class="ql" href="/content/qls/Help">Help</a>
			<a class="ql" href="/about/privacy_policy">Privacy</a>
			<a class="ql" href="/content/qls/TOU">Terms of use</a>
			<a class="ql" href="/content/qls/ST">Security Tips</a>
			<a class="ql" href="/content/qls/Contact">Contact Us</a>
		</div>
		<div>
			<h6>QUICK LINKS</h6>
			<a>About Craigslist</a>
			<a>Messages</a>
			<a class="ql" href="/user/create_post">Create a Post</a>
			<a class="ql" href="/user/user-favorite">Favourites</a>
			<a class="ql" href="/type/login">Account</a>
		</div>
	</div>
</footer>
