<nav class="navbar navbar-expand-lg navbar-light text-white">
	<div style="width: 10%;">
		<a href="/content"
			><img alt="logo" class="header_logo" src="/image/white_logo.png" /><img
				alt="logo"
				class="header_logo2"
				src="/image/white_horizontal_logo.png"
		/></a>
	</div>

	<button id="sidebar-toggle" class="navbar-toggler" type="button">
		<i class="fas fa-bars"></i>
	</button>
</nav>
