<br />
<div style="width: 80%; margin: 0 auto; border-top: 1px solid #000;">
	<br />
	<h3>Filter</h3>
	<div>
		<label>Cost</label>
		<select class="form-control" id="d-filter-cost" type="text">
			<option value="All">All</option>
			<option value="2000000">above $2M</option>
			<option value="1999999~1000000">$2M ~ $1M</option>
			<option value="999999~500000">$900k ~ $500k</option>
			<option value="499999~100000">$49k ~ $10k</option>
			<option value="99999~50000">$90k ~ $50k</option>
			<option value="49999~10000">$49k ~ $10k</option>
			<option value="9999~1000">$9k ~ $1000</option>
			<option value="999~0">below $1000</option>
		</select>
	</div>
	<br />
	<div>
		<label>location</label>
		<div>
			<small> province</small>
			<select class="form-control" id="d-filter-p" type="text">
				<option value="BC">BC</option>
			</select>
		</div>
		<div>
			<small>city</small>
			<select class="form-control" id="d-filter-c" type="text">
				<option value="All">All</option>
				<option value="Vancouver">Vancouver</option>
				<option value="Richmond">Richmond</option>
				<option value="Surrey">Surrey</option>
				<option value="Burnaby">Burnaby</option>
				<option value="delta/surrey/langley">delta/surrey/langley</option>
			</select>
		</div>
	</div>
</div>
