<div class="side_nav_bar">
	<div>
		<div class="sidebar_logosection">
			<img
				alt="sidebar_logo"
				class="sidebar_logo"
				src="/image/white_stack_logo.png"
			/>
		</div>
		<ul>
			<li class="Account">
				<h5>Account</h5>
				<%if(locals.is_login == false){%>

				<ul class="act_init">
					<li>
						<a href="/type/sign_up">Create Account</a>
					</li>
					<li><a href="/type/login">Sign In</a></li>
				</ul>
				<%}%>

				<ul class="act_feature">
					<li>Messages</li>
					<li><a href="/user/create_post">Posts</a></li>
					<li><a href="/user/setting">Setting</a></li>
				</ul>
			</li>
			<li class="CATEGORIES">
				<h5>CATEGORIES</h5>
				<ul class="categories">
					<li><a href="/content/sidemenu/housing">Housing</a></li>
					<li><a href="/content/sidemenu/vehicles">Vehicles</a></li>
					<li><a href="/content/sidemenu/electronics">Electronics</a></li>
					<li><a href="/content/sidemenu/for_sale">For Sale</a></li>
					<li><a href="/content/sidemenu/jobs">Jobs</a></li>
					<li><a href="/content/sidemenu/community">Community</a></li>
				</ul>
				<ul class="FAQ">
					<li>About</li>
					<li>FAQ</li>
					<li>Help</li>
				</ul>
			</li>
		</ul>
	</div>

	<a id="logout-btn" href="/logout">Logout</a>
</div>
