<section class="nav_bar">
	<div class="sidebar_logosection">
		<img
			alt="sidebar_logo"
			class="sidebar_logo"
			src="/image/white_stack_logo.png"
		/>
	</div>
	<ul>
		<li><h5>Account</h5></li>
	</ul>
</section>
