<div class="side_nav_bar">
	<div class="sidebar_logosection">
		<img
			alt="sidebar_logo"
			class="sidebar_logo"
			src="/image/white_stack_logo.png"
		/>
	</div>
	<ul>
		<li class="Account">
			<h5>Account</h5>
			<ul class="act_init">
				<li>
					Create Account
				</li>
				<li>Sign In</li>
			</ul>
			<ul class="act_feature">
				<li>Messages</li>
				<li>Posts</li>
				<li>Setting</li>
			</ul>
		</li>
		<li class="CATEGORIES">
			<h5>CATEGORIES</h5>
			<ul class="categories">
				<li>Housing</li>
				<li>Vehicles</li>
				<li>Electronics</li>
				<li>For Sale</li>
				<li>Jobs</li>
				<li>Community</li>
			</ul>
			<ul class="FAQ">
				<li>About</li>
				<li>FAQ</li>
				<li>Help</li>
			</ul>
		</li>
	</ul>
</div>
