<a class="sm-btn" href="/auth/fb_signin"
	><img width="100%" alt="fb_login" src="/image/facebook.png"
/></a>
<a class="sm-btn" href="/auth/google_signin"
	><img width="100%" alt="google_login" src="/image/google.png"
/></a>
