<section class="container content_box">
	<img class="logo" alt="stack_logo" src="/image/logo_with_text.png" />
	<div class="text_field">
		<h4>Let's Get Started</h4>
		<p>Your account is ready for you</p>
	</div>
	<button id="confirm_btn" type="submit" class="login inp" form="user_sign_up">
		Continue
	</button>
</section>
