<div class="form-group inp">
	<label for="Phone">Phone</label>
	<input
		type="number"
		class="form-control"
		name="phone_number"
		id="Phone"
		placeholder="1234567890"
		value=""
		form="user_sign_up"
	/>
</div>
<div class="form-group inp">
	<label for="Address">Address</label>
	<input
		type="text"
		class="form-control"
		name="street"
		id="Address"
		placeholder="123 Main Street"
		value=""
		form="user_sign_up"
	/>
</div>
<div class="form-group inp">
	<label for="City">City</label>
	<input
		type="text"
		class="form-control"
		name="city"
		id="City"
		placeholder="Vancouver"
		value=""
		form="user_sign_up"
	/>
</div>
<div class="form-group inp">
	<label for="Province">Province</label>
	<input
		type="text"
		class="form-control"
		name="province"
		id="Province"
		placeholder="BC"
		value=""
		form="user_sign_up"
	/>
</div>
<div class="form-group inp">
	<label for="postcode">Postal code</label>
	<input
		type="text"
		class="form-control"
		name="postcode"
		id="postcode"
		placeholder="123 abc"
		value=""
		form="user_sign_up"
	/>
</div>
<div class="form-group inp">
	<label for="Country">Country</label>
	<input
		type="text"
		class="form-control"
		name="country"
		id="Country"
		placeholder="Canada"
		value="Canada"
		form="user_sign_up"
	/>
	<small>Default: Canada</small>
</div>
<button id="continue_btn" class="login inp">Continue</button>
<br />
<a class="skip" href="/skip">Skip for now</a>
