<section class="container content_box">
	<img class="logo" alt="stack_logo" src="/image/logo_with_text.png" />
	<div class="text_field">
		<h4>Welcome to Craigslist</h4>
		<p>Join more than 60 Million users around the globe</p>
	</div>

	<div class="btn-grp">
		<a href="/type/login" class="login">Login</a>

		<a href="/type/sign_up" class="sign_up">Sign Up</a>
	</div>

	<a class="skip" href="/content/home">Skip for now</a>
</section>
