<h3 class="t_o_s">Craigslist Terms and Condition</h3>

<article class="terms_boiler">
	The following terms and conditions are outlined to ensure that the users
	interaction on this application is accordance with official Canadian
	government regulations. Any inappropriate behaviour that does not align with
	the following guidelines will result in the termination of this account. Based
	on the severity of each case, the user may be subject to prosecution by the
	Canadian government and the BC regulation officials.
	<br /><br />
	By checking the box below you will have agreed to subject yourself to all the
	following terms and conditions.
</article>
<br />
<div style="width: 100%;">
	<a class="skip" href="/term_of_service">Term and Conditions</a>
</div>
<br />
<div class="form-check inp" id="check_div">
	<input
		name="confirm"
		class="form-check-input"
		type="checkbox"
		id="confirm_agree"
		value="agree"
		form="user_sign_up"
	/>
	<label class="form-check-label" for="confirm_agree"
		>&nbsp;&nbsp;&nbsp;I agree to the
		<a class="skip" href="/term_of_service">Term and Conditions</a
		><span style="color: red;">*</span></label
	>
</div>
<br />
<button id="term_btn" class="login inp">Continue</button>
