<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="stylesheets/create__account__css.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="acc__field__container">
			<div class="acc__field">
				<p class="acc__field__text">Username</p>
				<input type="text" class="acc__field__box" />
			</div>
			<div class="acc__field">
				<p class="acc__field__text">Password</p>
				<input type="password" class="acc__field__box" />
			</div>
			<div class="acc__field">
				<p class="acc__field__text">Email</p>
				<input type="email" class="acc__field__box" />
			</div>
			<button class="acc__btn acc__btn__next">Continue</button>
		</div>
		<hr class="acc__line" />
		<div class="acc__btn__container">
			<button class="acc__btn acc__btn__login">Login with Facebook</button>
			<button class="acc__btn acc__btn__login">Login with Google</button>
		</div>
	</body>
</html>
