<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<title>Dash</title>
	</head>
	<body class="container col-md-4">
		<div class="jumbotron">
			<h1>Click to see pages</h1>
		</div>

		<div
			class="d-flex justify-content-center flex-column"
			style="margin-top:30px;"
		>
			<a
				href="/index"
				class="btn btn-primary text-white"
				style="margin-top:30px;"
				>index</a
			>
			<a
				href="/confirmation"
				class="btn btn-primary text-white"
				style="margin-top:30px;"
				>confirmation</a
			>
			<a
				href="/login"
				class="btn btn-primary text-white"
				style="margin-top:30px;"
				>login</a
			>
			<a
				href="/signup"
				class="btn btn-primary text-white"
				style="margin-top:30px;"
				>signup</a
			>
			<a
				href="/userInfo"
				class="btn btn-primary text-white"
				style="margin-top:30px;"
				>user Info</a
			>
			<a
				href="/service"
				class="btn btn-primary text-white"
				style="margin-top:30px;"
				>Service</a
			>
		</div>
	</body>
</html>
