<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/Public/stylesheets/personal__info__css.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="acc__field__container">
            <div class="acc__field">
                <p class="acc__field__text">Phone number</p>
                <input type="text" class="acc__field__box">
            </div>
            <div class="acc__field">
                <p class="acc__field__text">Country</p>
                <input type="text" class="acc__field__box">
            </div>
            <div class="acc__field">
                <p class="acc__field__text">City</p>
                <input type="text" class="acc__field__box">
            </div>
            <div class="acc__field">
                <p class="acc__field__text">Postal code</p>
                <input type="text" class="acc__field__box">
            </div>
            <div class="acc__field">
                <p class="acc__field__text">Address</p>
                <input type="text" class="acc__field__box">
            </div>
            </div>
            <hr class="acc__line">
            <div class="acc__btn__container">
                <button class="acc__btn__next">Continue</button>
            </div>
    
    </body>
</html>