<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/Public/stylesheets/terms__service__css.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="terms__container">
            <p>Terms of service</p>
            <div class="terms__scrollbox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam in, cum illo odit quasi animi, atque aspernatur deserunt inventore minima amet adipisci facilis? Assumenda corporis tenetur deserunt expedita suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur modi quam dolor voluptatem voluptas asperiores quae voluptatum, consequuntur aspernatur esse quis maiores velit sint possimus excepturi enim dolore debitis corrupti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo facere natus quae. Distinctio, quis voluptas exercitationem corrupti fuga inventore. Amet adipisci numquam necessitatibus, accusantium veniam quia soluta est perspiciatis aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci eveniet ut et ipsum reiciendis, repellendus commodi maiores vel debitis modi error. Asperiores, provident rerum. Similique cum cumque illo numquam!
            </div>
        </div>
        <div class="terms__container__agree">
            <input type="checkbox" class="terms__checkbox">
            <p>I agree to the terms of service.</p>
        </div>
        <div class="terms__btn__container">
            <button class="terms__btn">Create account</button>
        </div>
    </body>
</html>